
/*  styles  */


html, body {
  text-rendering: optimizeLegibility;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
          font-smoothing: antialiased;
}


*,
*:active,
*:focus {
  outline: none;
  -webkit-tap-highlight-color: transparent;
          tap-highlight-color: transparent;
}


a,
a:hover,
a:active,
a:focus,
a:visited,
a:target {
  color: inherit !important;
  text-decoration: inherit !important;
}


h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
  color: #222;
}





/*  import fonts  */

@font-face {
    font-family: 'Product sans';
    src: url('../fonts/product-sans/product-sans-regular.eot');
    src: url('../fonts/product-sans/product-sans-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/product-sans/product-sans-regular.woff') format('woff'),
         url('../fonts/product-sans/product-sans-regular.ttf') format('truetype'),
         url('../fonts/product-sans/product-sans-regular.svg#product-sans-regular') format('svg');
    font-weight: normal;
    font-style: italic;
}




/*  universal styles  */

.flex {
  flex-wrap: auto;
  flex-flow: auto;
  display: -webkit-flex;
     display: -moz-flex;
      display: -ms-flex;
       display: -o-flex;
          display: flex;
}
.flex-h-start {
  justify-content: flex-start;
}
.flex-h-end {
  justify-content: flex-end;
}
.flex-h-center {
  justify-content: center;
}
.flex-v-center {
  align-items: center;
}
.flex-v-bottom {
  align-items: flex-end;
  flex: 1;
}


.no-user-select {
  cursor: default;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}






/*  main page  */


/*  container  */

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}


.container-small {
  width: 500px;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 555px) {
  .container-small {
    width: 100%;
  }
}




/*  header  */

header {
  margin-top: 60px;
  margin-bottom: 80px;
}


header h1 {
  font-family: 'Product sans', 'arial', sans-serif;
  text-align: center;
  font-weight: normal;
  cursor: default;
}




/*  album art  */


.album-art {
  position: relative;
  margin: 0 auto;
  width: 400px;
  height: 400px;
  overflow: hidden;
  border-radius: 18px;
  box-shadow: 0px 0px 40px 0px rgba(0,0,0, 0.5);
}


.album-art img {
  width: 100%;
}
