
/*  styles  */


html, body {
  text-rendering: optimizeLegibility;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
          font-smoothing: antialiased;
}


*,
*:active,
*:focus {
  outline: none;
  -webkit-tap-highlight-color: transparent;
          tap-highlight-color: transparent;
}


a,
a:hover,
a:active,
a:focus,
a:visited,
a:target {
  color: inherit !important;
  text-decoration: inherit !important;
}


h1,
h2,
h3,
h4,
h5,
p {
  font-family: 'Product sans', 'arial', sans-serif;
  margin: 0;
  padding: 0;
  color: #222;
}





/*  import fonts  */

@font-face {
    font-family: 'Product sans';
    src: url('../fonts/product-sans/product-sans-regular.eot');
    src: url('../fonts/product-sans/product-sans-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/product-sans/product-sans-regular.woff') format('woff'),
         url('../fonts/product-sans/product-sans-regular.ttf') format('truetype'),
         url('../fonts/product-sans/product-sans-regular.svg#product-sans-regular') format('svg');
    font-weight: normal;
    font-style: italic;
}




/*  universal styles  */

.flex {
  flex-wrap: auto;
  flex-flow: auto;
  display: -webkit-flex;
     display: -moz-flex;
      display: -ms-flex;
       display: -o-flex;
          display: flex;
}
.flex-h-start {
  justify-content: flex-start;
}
.flex-h-end {
  justify-content: flex-end;
}
.flex-h-center {
  justify-content: center;
}
.flex-v-center {
  align-items: center;
}
.flex-v-bottom {
  align-items: flex-end;
  flex: 1;
}


.no-user-select {
  cursor: default;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}


.overflow-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}






/*  main page  */


/*  container  */

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}


.container-small {
  width: 500px;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 555px) {
  .container-small {
    width: 100%;
  }
}




/*  header  */

header.title {
  margin-top: 60px;
  margin-bottom: 70px;
}


header.title h1 {
  text-align: center;
  font-weight: normal;
  cursor: default;
}




/*  album art  */


.album-art {
  position: relative;
  margin: 0 auto;
  margin-bottom: 50px;
  width: 400px;
  height: 400px;
  overflow: hidden;
  border-radius: 18px;
  background-color: #ddd;
  box-shadow: 0px 0px 40px 0px rgba(0,0,0, 0.5);
}


.album-art img {
  width: 100%;
}




/*  oscilloscope  */

.oscilloscope {
  position: absolute;
  top: 220px;
  z-index: -1;
}

audio {
  opacity: 0;
}


.oscilloscope canvas {
  width: 1200px;
  height: 300px;
}


@media (max-width: 1270px) {
  .container {
    width: 1170px;
  }
}




/*  track info  */

.track-info {
  position: relative;
  margin-bottom: 60px;
}


.track-info .track-name,
.track-info .track-artist {
  text-align: center;
  text-transform: capitalize;
  font-weight: normal;
}


.track-info .track-name {
  font-size: 1.6em;
}


.track-info .track-artist {
  font-size: 1.3em;
  margin-top: 12px;
  color: #777;
}




/*  volume  */


.volume {
  margin-bottom: 80px;
}

.volume .volume-bar {
  position: relative;
  width: 100%;
  height: 4px;
  margin-bottom: 15px;
  border-radius: 1px;
  background-color: none;
  border: 1px solid #A0FF5B;
}

.volume .volume-bar-percentage {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #A0FF5B;
  -webkit-transition: all 80ms ease;
     -moz-transition: all 80ms ease;
      -ms-transition: all 80ms ease;
       -o-transition: all 80ms ease;
          transition: all 80ms ease;
}

.volume.green .volume-bar {
  border: 1px solid #A0FF5B;
}
.volume.green .volume-bar-percentage {
  background-color: #A0FF5B;
}

.volume.yellow .volume-bar {
  border: 1px solid #DFE100;
}
.volume.yellow .volume-bar-percentage {
  background-color: #DFE100;
}

.volume.red .volume-bar {
  border: 1px solid #CA3432;
}
.volume.red .volume-bar-percentage {
  background-color: #CA3432;
}


.volume .volume-text {
  font-size: .94em;
  text-align: center;
  opacity: .5;
}

.volume .volume-text span {
  vertical-align: sub;
  margin-right: 8px;
}
